
<web-app>
    <servlet>
        <servlet-name>BlogServlet</servlet-name>
        <servlet-class>com.vinayak.blog.BlogServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BlogServlet</servlet-name>
        <url-pattern>/post</url-pattern>
    </servlet-mapping>
</web-app>
